apiVersion: workload.codeflare.dev/v1beta2
kind: AppWrapper
metadata:
  name: tcr-tuning-config-recommender-any
  labels:
    system/internal: tuning-config-recommender-any
spec:
  components:
  - podSetInfos:
    - {}
    template:
      apiVersion: v1
      kind: Pod
      metadata:
        labels:
          system/internal: tuning-config-recommender-any
        name: tcr-pod
      spec:
        containers:
        - env: null
          image: "{{ .Values.pod.image }}"
          command:
            - /bin/sh
            - -c
          args:
            - |
              {{ .Values.pod.command }}
          imagePullPolicy: Always
          name: tuning-config-recommender-any-cont
          ports:
          - containerPort: 3000
          - containerPort: 8000
          resources:
            limits:
              cpu: {{ .Values.pod.cpu }}
              memory: {{ .Values.pod.mem }}
            requests:
              cpu: {{ .Values.pod.cpu }}
              memory: {{ .Values.pod.mem }}
          securityContext:
            runAsNonRoot: false
            runAsUser: 0
          {{- if .Values.pod.volumeMounts.enabled }}
          volumeMounts:
          {{- range .Values.pod.volumeMounts.items }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
              {{- if hasKey . "subPath" }}
              subPath: {{ .subPath }}
              {{- end }}
              {{- if hasKey . "readOnly" }}
              readOnly: {{ .readOnly }}
              {{- end }}
          {{- end }}
          {{- end }}
        {{- if .Values.pod.imagePullSecrets.enabled }}
        imagePullSecrets:
        {{- range .Values.pod.imagePullSecrets.items }}
        - name: {{ .name }}
        {{- end }}
        {{- end }}
        restartPolicy: Always
        serviceAccountName: gdr
        {{- if .Values.pod.volumeMounts.enabled }}
        volumes:
        {{- range .Values.pod.volumeMounts.items }}
        - name: {{ .name }}
          persistentVolumeClaim:
            claimName: {{ .claimName }}
        {{- end }}
        {{- end }}
